<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>!1024 Game!</title>
</head>
<body>
<h1>BEST GAME EVER!!!</h1>
<h6>You can't comment or rate the game without login</h6>
<div class="input-group mb-3">
    <form action="/login" method="post">
        <input type="text" class="form-control" placeholder="Your username" name="name">
        <input type="text" class="form-control" placeholder="Your password" name="password">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
    </form>
</div>
</body>
</html>